nav {
    display: none;
    margin-top: $topMargin;
    position: relative;
}

.nav>li>a:hover {
    background-color: $tabHoverColor;
    border-color: $tabBorderColor;
    font-weight: bold;
}

.logout {
    position: absolute;
    bottom: 0;
    right: 0;
}
