$topMargin: 50px;
$leftMargin: 50px;

$loginFieldWidth: 400px;
$loginMsgSize: 1.5em;
$loginColor: #337ab7;

$viewMarginTop: 25px;

$avatarSpacing: 25px;
$avatarSize: 200px;

$myProfileFontSize: 1em;
$liSpacing: 5px;

$tabHoverColor: #aecee9;
$tabBorderColor: #aecee9;

$tableSideMargin: 10%;

$repoDetailFontSize: 1em;
